
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      
  
      <!-- Login Form -->
      <form [formGroup]="addForm" (ngSubmit)="onLogin()">
        <input type="text" id="user" class="fadeIn second" name="user" placeholder="user" formControlName="user"  >
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" formControlName="password"  >
        <input type="submit" class="fadeIn fourth"  value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" [routerLink]="['navUser']">Forgot Password?</a>
      </div>
      
    </div>
</div>
<router-outlet></router-outlet>
