<p>ver-vehiculo works!</p>

<div class="col-md-20 user-container">
    <h2 class="text-center">Buscar Vehiculo</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">Numero de placa:</label>
            <input type="text" formControlName="id" placeholder="Numero de placa" name="id" class="form-control" id="id">
            
    </div>
    <button class="btn btn-success">Buscar</button>
    </form>
  </div>
<div class="terminal" *ngIf="encontrado" >
    <form [formGroup]="updateForm" (ngSubmit)="onSubmitUpdate()">
    <div class="form-group">
        <label>Placa:</label>
        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" value= {{vehiculo.id}}>
        <label>Motor:</label>
        <input type="text" formControlName="motor" placeholder="motor" name="motor" class="form-control" id="motor" value= {{vehiculo.motor}}>
        <label>Chasis:</label>
        <input type="text" formControlName="chassis" placeholder="chassis" name="chassis" class="form-control" id="chassis" value= {{vehiculo.chassis}}>
        <label>Modelo:</label>
        <input type="text" formControlName="model" placeholder="model" name="model" class="form-control" id="model" value= {{vehiculo.model}}>
        <label>Fecha de creacion</label>
        <input type="text" formControlName="creationDate" placeholder="creationDate" name="creationDate" class="form-control" id="creationDate" value= {{vehiculo.creationDate}}>
        <label>Pasajeros Sentados</label>
        <input type="text" formControlName="seatedPassengers" placeholder="seatedPassengers" name="seatedPassengers" class="form-control" id="seatedPassengers" value= {{vehiculo.seatedPassengers}}>
        <label>Pasajeros De pie</label>
        <input type="text" formControlName="standingPassengers" placeholder="standingPassengers" name="standingPassengers" class="form-control" id="standingPassengers" value= {{vehiculo.standingPassengers}}>
        <label>Peso Seco</label>
        <input type="text" formControlName="dryWeight" placeholder="dryWeight" name="dryWeight" class="form-control" id="dryWeight" value= {{vehiculo.dryWeight}}>
        <label>Numero de puertas</label>
        <input type="text" formControlName="numberOfDoors" placeholder="numberOfDoors" name="numberOfDoors" class="form-control" id="numberOfDoors" value= {{vehiculo.numberOfDoors}}>
        <label>Marca</label>
        <input type="text" formControlName="brand" placeholder="brand" name="brand" class="form-control" id="brand" value= {{vehiculo.brand}}>
        <label>Linea</label>
        <input type="text" formControlName="line" placeholder="line" name="line" class="form-control" id="line" value= {{vehiculo.line}}>
    </div>
        <button class="btn btn-success">ACtualizar</button>
    </form>
</div>
