<div class="col-md-20 user-container">
    <h2 class="text-center">Buscar Usuario</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">Numero de Documento:</label>
            <input type="text" formControlName="id" placeholder="Numero de Documento" name="id" class="form-control" id="id">
            
    </div>
    <button class="btn btn-success">Buscar</button>
    </form>
  </div>
<div class="terminal" *ngIf="encontrado" >
    <form [formGroup]="updateForm" (ngSubmit)="onSubmitUpdate()">
    <div class="form-group">
        <label>Nombre:</label>
        <input type="text" formControlName="fullName" placeholder="fullName" name="fullName" class="form-control" id="fullName" value= {{conductor.fullName}}>
        <label>Cedula:</label>
        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" value= {{conductor.id}}>
        <label>Direccion:</label>
        <input type="text" formControlName="adress" placeholder="adress" name="adress" class="form-control" id="adress" value= {{conductor.adress}}>
        <label>Ciudad:</label>
        <input type="text" formControlName="city" placeholder="city" name="city" class="form-control" id="city" value= {{conductor.city}}>
        <label>Departamento</label>
        <input type="text" formControlName="departament" placeholder="departament" name="departament" class="form-control" id="departament" value= {{conductor.departament}}>
        <label>Pais</label>
        <input type="text" formControlName="country" placeholder="country" name="country" class="form-control" id="country" value= {{conductor.country}}>
        <label>Telefono</label>
        <input type="text" formControlName="phone" placeholder="phone" name="phone" class="form-control" id="phone" value= {{conductor.phone}}>

    </div>
        <button class="btn btn-success">ACtualizar</button>
    </form>
</div>