<p>vehiculo works!</p>
<div class="col-md-20 user-container">
    <h2 class="text-center">Agregar Vehiculo</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Placa:</label>
        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" >
        <label>Motor:</label>
        <input type="number" formControlName="motor" placeholder="motor" name="motor" class="form-control" id="motor" >
        <label>Chasis:</label>
        <input type="text" formControlName="chassis" placeholder="chassis" name="chassis" class="form-control" id="chassis" >
        <label>Modelo:</label>
        <input type="text" formControlName="model" placeholder="model" name="model" class="form-control" id="model" >
        <label>Fecha de creacion</label>
        <input type="text" formControlName="creationDate" placeholder="creationDate" name="creationDate" class="form-control" id="creationDate" >
        <label>Pasajeros Sentados</label>
        <input type="number" formControlName="seatedPassengers" placeholder="seatedPassengers" name="seatedPassengers" class="form-control" id="seatedPassengers" >
        <label>Pasajeros De pie</label>
        <input type="number" formControlName="standingPassengers" placeholder="standingPassengers" name="standingPassengers" class="form-control" id="standingPassengers" >
        <label>Peso Seco</label>
        <input type="text" formControlName="dryWeight" placeholder="dryWeight" name="dryWeight" class="form-control" id="dryWeight"  >
        <label>Numero de puertas</label>
        <input type="number" formControlName="numberOfDoors" placeholder="numberOfDoors" name="numberOfDoors" class="form-control" id="numberOfDoors">
        <label>Marca</label>
        <input type="text" formControlName="brand" placeholder="brand" name="brand" class="form-control" id="brand" >
        <label>Linea</label>
        <input type="text" formControlName="line" placeholder="line" name="line" class="form-control" id="line">
        <label for="phone">Numero documento de la compañia</label> 
        <select name="miselect" [(ngModel)]="seleccionado" formControlName="idCompany" class="form-control">
            <option  [value]="item" *ngFor="let item of lista">{{item}}</option>
        </select>

      <button class="btn btn-success">Add</button>
      </div>
    </form>
  </div>
  